<a href="https://colab.research.google.com/github/bobabap/RECORD-STORY/blob/main/N112_%EB%B3%B5%EC%8A%B5%2C%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

In [2]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (7,869 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155229 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [211]:
import math

#data analytics
import numpy as np
import pandas as pd

#visualization
import matplotlib as mpl
import matplotlib.pylab as plb
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns

# 브라우저에서 바로 그려지도록 
%matplotlib inline

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# Colab 의 한글 폰트 설정
plt.rc('font', family='NanumBarunGothic') 

# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

# 전체보기
pd.set_option('display.max_seq_items', None)

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
 
 ## $\rm PDR = {시가총액 \over 해당~기업이~포함된~전체~시장~규모(TAM)~\times~시장점유율}$

  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다. 아래의 전제조건을 활용하세요.
  - 점유율 (일반담배 기준) 
    - 18년 : 62%
    - 19년 : 63.5% 
  - 시장의 규모 
     - 18년 : 15조 
     - 19년 : 15조

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|





- **금일 문제는 ```pd.read_csv 에서 thousands = ',' ``` 값을 인자로 주어 풀면 안됩니다.**

In [644]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']
df = pd.read_csv(url)
df.transpose()
df.columns = headers

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
1  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
2   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
3   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[4 rows x 25 columns]

In [605]:
def column_cleaning(col):
    temp_list = []

    for i in col:
        temp = int(i.replace(',',''))
        temp_list.append(temp)    
    return temp_list

In [606]:
df["매출액"] = column_cleaning(df["매출액"])
df["영업이익"] = column_cleaning(df["영업이익"])

In [607]:
df["영업이익률2"] = round((df["영업이익"]/df["매출액"])*100, 2)
df

      분기    매출액  영업이익 영업이익(발표기준) 세전계속사업이익  ...   부채비율   자본유보율  EPS(원) PER(배) 영업이익률2
0   19/9  13222  3825      3,825    4,503  ...  24.17  836.86   2,337  13.87  28.93
1  19/12  11982  2523      2,523    1,794  ...  23.04  850.82     873  12.42  21.06
2   20/3  11784  3150      3,150    4,156  ...  29.69  823.16   2,134   9.71  26.73
3   20/6  13188  3947      3,947    4,020  ...  26.91  837.40   2,135  10.46  29.93

[4 rows x 26 columns]

In [608]:
d2 = {'구분':['18년','19년'],
    '종가':[101500,93800],
    '발행주식수':[137292497,137292497],
    '시가총액':[13935188445500,12878036218600],
    '시장점유율':[62.0,63.5],
    '시장규모':[15000000000000,15000000000000],
    'PDR':['','']}
df2 = pd.DataFrame(data = d2)
df2

    구분      종가      발행주식수            시가총액  시장점유율            시장규모 PDR
0  18년  101500  137292497  13935188445500   62.0  15000000000000
1  19년   93800  137292497  12878036218600   63.5  15000000000000

In [609]:
df2["PDR"] = df2['시가총액']/(df2['시장규모']*df2['시장점유율'])
df2

    구분      종가      발행주식수            시가총액  시장점유율            시장규모       PDR
0  18년  101500  137292497  13935188445500   62.0  15000000000000  0.014984
1  19년   93800  137292497  12878036218600   63.5  15000000000000  0.013520

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [610]:
tmp = '12,578'

a,b = tmp.split(',')
revenue = int(a+b)
revenue

12578

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [649]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']
df = pd.read_csv(url)
df.transpose()
df.columns = headers

def column_cleaning(col):
  temp_list = []

  for i in col:
    temp = int(i.replace(',',''))
    temp_list.append(temp)

  return temp_list

df = df.fillna(0)
df

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
1  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
2   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
3   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[4 rows x 25 columns]

In [650]:
changes = ['매출액', '영업이익', "영업이익(발표기준)", "세전계속사업이익", "당기순이익", "당기순이익(지배)", 
           "자산총계", "부채총계", "자본총계", "자본총계(지배)", "자본금", "영업활동현금흐름", "투자활동현금흐름", 
           "재무활동현금흐름", "EPS(원)"]

In [651]:
df[changes] = df[changes].apply(column_cleaning)
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   부채비율   자본유보율  EPS(원)  PER(배)
0   19/9  13222  3825        3825  ...  24.17  836.86    2337   13.87
1  19/12  11982  2523        2523  ...  23.04  850.82     873   12.42
2   20/3  11784  3150        3150  ...  29.69  823.16    2134    9.71
3   20/6  13188  3947        3947  ...  26.91  837.40    2135   10.46

[4 rows x 25 columns]

In [652]:
df.describe()

                매출액         영업이익  ...       EPS(원)     PER(배)
count      4.000000     4.000000  ...     4.000000   4.000000
mean   12544.000000  3361.250000  ...  1869.750000  11.615000
std      767.650962   659.660708  ...   671.321768   1.888218
min    11784.000000  2523.000000  ...   873.000000   9.710000
25%    11932.500000  2993.250000  ...  1818.750000  10.272500
50%    12585.000000  3487.500000  ...  2134.500000  11.440000
75%    13196.500000  3855.500000  ...  2185.500000  12.782500
max    13222.000000  3947.000000  ...  2337.000000  13.870000

[8 rows x 24 columns]

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [654]:
df.loc[1, '당기순이익(비지배)'] = np.NaN
df = df.fillna(df.mean())
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   부채비율   자본유보율  EPS(원)  PER(배)
0   19/9  13222  3825        3825  ...  24.17  836.86    2337   13.87
1  19/12  11982  2523        2523  ...  23.04  850.82     873   12.42
2   20/3  11784  3150        3150  ...  29.69  823.16    2134    9.71
3   20/6  13188  3947        3947  ...  26.91  837.40    2135   10.46

[4 rows x 25 columns]

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [655]:
df_val = list(df['매출액'].values)
take_mean = int(df['매출액'].mean())
def RP(vals):
  val_score = []
  for i in vals:
      if take_mean+(take_mean*0.1) < int(i): # 10% 이상
          val_score += 'S'
      elif take_mean+(take_mean*0.05) <= int(i) < take_mean+(take_mean*0.1): # 5% 이상
          val_score += "A"
      elif take_mean+(take_mean*0.05) > int(i) >= take_mean-(take_mean*0.05): # -5% 이상, 5% 이하
          val_score += 'B'
      elif take_mean-(take_mean*0.05) > int(i) >= take_mean-(take_mean*0.1): # -5%이하
          val_score += 'C'
      elif take_mean-(take_mean*0.1) >= int(i): # 10% 이하
          val_score += 'D'
  return val_score
score = RP(df_val)
score

['A', 'B', 'C', 'A']

In [656]:
df['Relative Perfomance'] = score
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   자본유보율  EPS(원)  PER(배)  Relative Perfomance
0   19/9  13222  3825        3825  ...  836.86    2337   13.87                    A
1  19/12  11982  2523        2523  ...  850.82     873   12.42                    B
2   20/3  11784  3150        3150  ...  823.16    2134    9.71                    C
3   20/6  13188  3947        3947  ...  837.40    2135   10.46                    A

[4 rows x 26 columns]

In [675]:
a = list(df.loc[:, 'Relative Perfomance'])
b = list(df.loc[:, '매출액'])
Grade_of_sales = dict(zip(a, b))
Grade_of_sales

{'A': 13188, 'B': 11982, 'C': 11784}